// Needs refactoring
// stylelint-disable selector-max-type, primer/selector-no-utility

.explore-content {
  margin-top: -15px; // Negate the extra spacing after the nav bar

  .blankslate {
    margin-top: 15px;
  }
}

.explore-pjax-container {
  position: relative;
}

// Repo snip-its for the trending developers.
.repo-snipit {
  display: inline-block;
  margin-top: 7px;

  &:hover {
    text-decoration: none;
  }

  .octicon {
    font-size: $h5-size;
    color: $text-gray;
  }
}

.repo-snipit-name {
  max-width: 200px;
  color: #666;
}

.repo-snipit-description {
  max-width: 300px;
  color: $text-gray;
}

.repo-snipit:hover .repo-snipit-name,
.repo-snipit:hover .repo-snipit-description {
  color: $text-blue;
}

.newsletter-frequency-choice {
  font-weight: $font-weight-normal;
  cursor: pointer;
  border: $border-width $border-style #eee;
  border-radius: 4px;

  .notice {
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
    z-index: -1;
    font-weight: $font-weight-bold;
    color: $green;
    text-align: center;
    opacity: 0;

    &.visible {
      bottom: -2em;
      opacity: 1;
      transition: opacity 0.15s ease-in-out;
    }
  }

  h3 {
    padding: 10px;
    margin: 0;
    font-weight: $font-weight-normal;
    text-align: center;
    background-color: $gray-000;
    border-bottom: $border-width $border-style #eee;

    input {
      position: relative;
      top: -2px;
      margin: 0 3px 0 -19px;
    }
  }
  p {
    margin: 15px;
  }

  &:hover {
    border-color: $blue;

    h3 {
      color: #fff;
      background-color: $bg-blue;
      border-color: $blue;
    }
  }

  &.selected {
    border-color: $green;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    h3 {
      color: #fff;
      background-color: $bg-green;
      border-color: $green;
    }
  }
}

#spotlight-background {
  margin-top: -20px;
}

.Collection {
  .col-lg-9 & {
    @include breakpoint(lg) {
      max-width: 744px;
    }
  }
}

.Spotlight {
  @include breakpoint(lg) {
    margin-top: 100px;
  }
}

.Spotlight-text {
  z-index: 1;
}

.Spotlight-blur {
  z-index: 0;
  opacity: 0.9;

  @include breakpoint(lg) {
    opacity: 1;
    -webkit-mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1) 75%,
      transparent
    );
    mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1) 75%,
      transparent
    );
  }
}

.event-image-hero {
  height: 150px;
  overflow: hidden;
}

.event-hero {
  width: 105%;
  height: 160px;
  object-fit: cover;
}

// Limit the text in div
.text-limited {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 9em;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
